.root{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #999;
  width: calc(30% - 4px);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;

  img{
    width: 37px;
    height: auto;
  }
}
.selected{
  border-color: red ;
}
