@font-face {
  font-family: Cancellaresca;
  src: url('./fonts/Cancellaresca.ttf');
}

@font-face {
  font-family: CaslonBecker;
  src: url('./fonts/CaslonBecker.ttf');
}

@font-face {
  font-family: GoodVibesPro;
  src: url('./fonts/GoodVibesPro.ttf');
}

@font-face {
  font-family: MiamaNueva;
  src: url('./fonts/MiamaNueva.ttf');
}

@font-face {
  font-family: SnellRoundhand;
  src: url('./fonts/SnellRoundhand.ttf');
}